*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #007acc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1{
  text-align: center;
  padding-bottom: 1rem;
}

.card{
  background-color: white;
  height: 700px;
  padding: 30px 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 15px #888888
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;

}
.form-contol label{
  display: block;
  padding: 20px;
}

.form-control input{
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 400px;
  padding: 10px;
  display: block;
}

.form-control input:focus{
  outline: 0;
  border-color: darkgrey;
}

.form-control.success input{
border-color: #2ecc71;
}

.form-control.fail input{
  border-color: #e74c3c;
}

.form-control small{
  color: #e74c3c;
  position: absolute;
  left: 0;
  visibility: hidden;
}

.form-control.fail small{
  visibility: visible;
}

.btn{
  display: block;
  width: 400px;
  padding: 0.7rem;
  background-color: #40bf40;
  color: white;
  border: solid white 1px;
  border-radius: 4px;
}
.btn:hover{
  background-color: #39ac39;
  cursor: pointer;
}
